.inforstrips_parent_conatiner {
  width: 100%;
  background-color: var(--xt_ui_kit_yellow_color, #fbec93);
}
.infostrip_content {
  font-style: normal;
  font-weight: var(--xt_ui_kit_light, 300);
  font-size: var(--xt_ui_kit_medium_font, 16px);
  margin: 5px;
  padding: 8px;
  word-wrap: break-word;
}

@media (max-width: 320px) {
  .inforstrips_parent_conatiner {
    width: 100%;
  }
  .infostrip_content {
    margin: 8px;
    margin-bottom: none;
    padding: 8px;
    word-wrap: break-word;
  }
}
@media (min-width: 321px) and (max-width: 600px) {
  .inforstrips_parent_conatiner {
    width: 100%;
    left: 10%;
  }
  .infostrip_content {
    margin: 8px;
    margin-bottom: none;
    padding: 8px;
    word-wrap: break-word;
  }
}
@media (min-width: 601px) and (max-width: 920px) {
  .inforstrips_parent_conatiner {
    width: 100%;
    background-color: var(--xt_ui_kit_yellow_color, #fbec93);
  }
  .infostrip_content {
    font-weight: var(--xt_ui_kit_light, 300);
    margin: 12px;
    padding: 8px;
    word-wrap: break-word;
  }
}
